// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*エラーメッセージ（_messages） */
ul li{
  list-style: none;
  margin-left: -30px;
}

/*tasks/index*/
h1{
  margin-top: 70px;
}

.paginate_1{
  margin-bottom: -20px;
}

.paginate_2{
  margin-bottom: 60px;
}

/*tasks/new*/
.title_form h1{
  margin-top: 40px
}

/*tasks/id*/
.card{
  margin-top: 80px;
}

.label-space{
  margin-right:10px;
}
